@import "tailwindcss";

html {
  background: #000;
  scroll-behavior: smooth;
  /* scroll-behavior: auto; */
  scrollbar-width: none;
}

body {
  font-family: var(--font-montserrat), sans-serif;
}




